<!doctype html>
<html xmls:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Decanat Home</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="container text-center">
    <div><h1>Decanat Home</h1></div>
    <div class="p-2"><a class="h2" th:href="@{/peoples}"> Peoples List</a></div>
    <div class="p-2"><a class="h2" th:href="@{/peoples/new}"> Add People</a></div>

    <div class="p-2"><a class="h2" th:href="@{/groups/}"> List Groups</a></div>
    <div class="p-2"><a class="h2" th:href="@{/groups/new}"> Add Group</a></div>
</div>
</body>
</html>