<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Marks</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="container text-center">
    <div> <h1>marks list</h1></div>
    <div>
        <form th:action="@{/marks}"  method="get">
            <div class="form-group row">
                <label class="col-form-label ">Teacher:</label>
                <div class="col-4">
                    <input type="text" name="teacherName" class="form-control"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label ">Student:</label>
                <div class="col-4">
                    <input type="text" name="studentName" class="form-control"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-form-label ">Subject:</label>
                <div class="col-4">
                   <input type="text" name="subjectName" class="form-control"/>
                </div>
                <button class="btn btn-primary" type="submit">Search</button>
            </div>


        </form>
        <table class="table table-bordered">
            <thread>
                <tr class="thead-dark">
                    <th>VALUE</th>
                    <th>STUDENT</th>
                    <th>TEACHER</th>
                    <th>SUBJECT</th>
                    <th></th>
                </tr>
            </thread>
            <tbody>
            <th:block th:each="mark : ${markList}">
                <tr>
                    <td>[[${mark.value}]]</td>
                    <td>[[${mark.student.firstName}]]</td>
                    <td>[[${mark.teacher.firstName}]]</td>
                    <td>[[${mark.subject.name}]]</td>
                    <td>
                        <div class="btn-block">
                            <a class="btn btn-primary" th:href="@{'/marks/edit/' + ${mark.id}}">Edit</a>
                            &nbsp;
                            <a class="btn btn-danger"th:href="@{'/marks/delete/' + ${mark.id}}">Delete</a>
                        </div>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
    <div class="btn-block">
        <a class="btn btn-primary" th:href="@{'/'}">Main</a>
        <a class="btn btn-primary" th:href="@{'/marks/new'}">Add</a>
    </div>
</div>
</body>
</html>