<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>List peoples</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="container text-center">
    <div> <h1>people list</h1></div>
    <div>
        <form th:action="@{/peoples}" class="form-inline" method="get">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Search</span>
                </div>
                <input type="text" name="keyword" class="form-control"/>

                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </div>
            </div>
        </form>

        <form th:action="@{/peoples/group_filter}" class="form-inline" method="get">
            <div class="input-group mt-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">Group filter</span>
                </div>
                <div>
                    <select name="group_id" class="form-control custom-select" required>
                        <th:block th:each="group : ${groupsList}">
                            <option th:text="${group.name}" th:value="${group.id}"/>
                        </th:block>
                    </select>
                </div>

                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit" name="action" th:value="submit">Show by type</button>
                    <button class="btn btn-outline-secondary" type="submit" name="action" th:value="reset" >Clear</button>
                </div>
            </div>
        </form>
        <table class="table table-bordered mt-2">
            <thread>
                <tr class="thead-dark">
                    <th>FIRST NAME</th>
                    <th>LAST NAME</th>
                    <th>FATHER NAME</th>
                    <th>GROUP NAME</th>
                    <th>TYPE</th>
                    <th sec:authorize="hasAnyAuthority('ADMIN')"></th>
                </tr>
            </thread>
            <tbody>
            <th:block th:each="people : ${peoplesList}">
                <tr>
                    <td>[[${people.firstName}]]</td>
                    <td>[[${people.lastName}]]</td>
                    <td>[[${people.fatherName}]]</td>
                    <td>[[${people.group.name}]]</td>
                    <td>[[${people.type}]]</td>
                    <td  sec:authorize="hasAnyAuthority('ADMIN')">
                        <div class="btn-block">
                            <a class="btn btn-primary" th:href="@{'/peoples/edit/' + ${people.id}}">Edit</a>
                            &nbsp;
                            <a class="btn btn-danger"th:href="@{'/peoples/delete/' + ${people.id}}">Delete</a>
                        </div>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>

        <form th:action="@{/peoples/teacherMarkStatistic/}" class="form-inline" method="get">
            <div class="input-group mt-2">
                <div class="input-group-prepend">
                    <span class="input-group-text">Teacher mark stat</span>
                </div>
                <div>
                    <select name="teacher_id" class="form-control custom-select" required>
                        <th:block th:each="teacher : ${teacherList}">
                            <option th:text="${teacher.firstName}" th:value="${teacher.id}"/>
                        </th:block>
                    </select>
                </div>

                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit" th:value="submit">Go</button>
                </div>
            </div>
        </form>
    </div>
    <div class="btn-block">
        <a class="btn btn-primary" th:href="@{'/'}">Main</a>
        <a  sec:authorize="hasAnyAuthority('ADMIN')" class="btn btn-primary" th:href="@{'/peoples/new'}">Add</a>
    </div>
</div>
</body>
</html>