<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List peoples</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="container text-center">
    <div> <h1>people list</h1></div>
    <div>
        <table class="table table-bordered">
            <thread>
                <tr class="thead-dark">
                    <th>FIRST NAME</th>
                    <th>LAST NAME</th>
                    <th>FATHER NAME</th>
                    <th>GROUP NAME</th>
                    <th>TYPE</th>
                    <th></th>
                </tr>
            </thread>
            <tbody>
            <th:block th:each="people : ${peoplesList}">
                <tr>
                    <td>[[${people.firstName}]]</td>
                    <td>[[${people.lastName}]]</td>
                    <td>[[${people.fatherName}]]</td>
                    <td>[[${people.group.name}]]</td>
                    <td>[[${people.type}]]</td>
                    <td>
                        <div class="btn-block">
                            <a class="btn btn-primary" th:href="@{'/peoples/edit/' + ${people.id}}">Edit</a>
                            &nbsp;
                            <a class="btn btn-danger"th:href="@{'/peoples/delete/' + ${people.id}}">Delete</a>
                        </div>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
    <div class="btn-block">
        <a class="btn btn-primary" th:href="@{'/'}">Main</a>
        <a class="btn btn-primary" th:href="@{'/peoples/new'}">Add</a>
    </div>
</div>
</body>
</html>